.Rproj.user
.Rhistory
.RData
.Ruserdata
scyttools.Rproj
lucap145_2_scyttools.sh
slurm_scyttools_day2.sh
slurm_scyttools_SCAF1424_145_2_CTL_3wk.sh
slurm_scyttools_SCAF1425_145_2_Control.sh
slurm_scyttools.sh
slurm_scyttools_day2.sh
slurm_scyttools_SCAF1385_145_2_CTL_D2.sh
slurm_scyttools_SCAF1426_CT35-1-CTL_1w.sh
slurm_scyttools_day2.sh
slurm_scyttools_SCAF1427_CT35-2-CTL_1w.sh
slurm_scyttools_SCAF1511_CT35-1-Ctrl.sh
slurm_scyttools_SCAF1513_CT35-2-Ctrl.sh
slurm_scyttools.sh
slurm_scyttools.sh
slurm_scyttools_SCAF1512_CT35-2-CTL_4w.sh
slurm_scyttools_SCAF1510_CT35-1-CTL_4w.sh
slurm_scyttools.sh
slurm_scyttools_day2.sh
